 <div class="book-list">
   <table class="table">
        
        <tbody>
        {% for series in series %}
          <a href="{{ path('app_series_show', {'id': series.id}) }}">
            <tr>
                <td>{{ series.title }}</td>
                    {% if series.image %}
                        <img src="/uploads/series_images/{{ series.image }}" alt="Image du livre" style="max-width: 150px;">
                    {% else %}
                        <em>Pas d'image</em>
                    {% endif %}                
                 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
         </a>
        </tbody>
    </table>
        {% for book in books %}
            <div class="book-item" style="display: flex; align-items: center; margin-bottom: 20px; border-bottom: 1px solid #ccc; padding-bottom: 10px;">
                <div class="book-details" style="flex: 1;">
                    <ul style="list-style: none; padding: 0;">
                        <li><strong>Title:</strong> {{ book.title }}</li>
                        <li><strong>Description:</strong> {{ book.description }}</li>
                        <li><strong>Parution:</strong> {{ book.parution }}</li>
                        <li><strong>Posseded:</strong> {{ book.posseded ? 'Yes' : 'No' }}</li>
                        <li><strong>Author:</strong> {{ book.author }}</li>
                        <li><strong>Illustrator:</strong> {{ book.illustrator }}</li>
                        <li><strong>Price:</strong> {{ book.price }}</li>
                        <li><strong>Page Count:</strong> {{ book.pagecount }}</li>
                        <li><strong>Rating:</strong> {{ book.rating }}</li>
                        <li>
                            <a href="{{ path('app_book_show', {'id': book.id}) }}">Show</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_book_edit', {'id': book.id}) }}">Edit</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="book-image" style="margin-left: 20px;">
                    {% if book.image %}
                        <img src="/uploads/images/{{ book.image }}" alt="Image du livre" style="max-width: 150px;">
                    {% else %}
                        <em>Pas d'image</em>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <p>No records found</p>
        {% endfor %}
        {% if is_granted('ROLE_ADMIN') %}

            <a href="{{ path('app_book_new') }}">Create new</a>
        {% endif %}
    </div>