<div class="character-section">
    <h2>Characters</h2>
    <ul>
       {% for character in characters %}
    <li class="list-group-item d-flex align-items-center">
        <img 
            src="/uploads/character_images/{{ character.getBackgroundNavBar }}" 
            alt="{{ character.name }}" 
            class="img-thumbnail me-3" 
            style="width: 800px; height: 100px; object-fit: cover;">

        <a href="{{ path('app_character_show', {'id': character.id}) }}" class="text-decoration-none">
            {{ character.name }} ({{ character.realName }})
        </a>
    </li>
{% else %}
    <li class="list-group-item">No characters found.</li>
{% endfor %}

    </ul>
</div>
